@font-face {
  font-family: "FAMILY_NAME";
  src: url("fonts/Lobster-Regular.ttf") format("truetype");
}

body {
  font-family: "FAMILY_NAME" !important;
  height: 100vh;
  width: 100vw;
  text-shadow: 3px 3px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("img/5_background/desert-5112222_1280.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: black;
}

.impressum {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 32px;
  border-radius: 32px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

.impressum-link {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

canvas {
  background-color: black;
  display: block;
}

.canvas-wrapper {
  position: relative;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discription-wrapper {
  position: relative;
  padding-bottom: 24px;
  max-width: 720px;
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.start-button,
.fullscreen-button,
.mute-button {
  z-index: 1;
  cursor: pointer;
  border: none;
}

.main-buttons-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.start-button {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  height: 128px;
  width: 128px;
}

.fullscreen-button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  height: 48px;
  width: 48px;
}

.mute-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  height: 48px;
  width: 48px;
}

.fullscreen-button:hover,
.start-button:hover,
.mute-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.discription {
  font-size: 24px;
  width: auto;
}

.intro-img {
  width: 720px;
  height: 480px;
  object-fit: cover;
}

.sound-img {
  width: 48px;
  height: 48px;
}

.win_img {
  position: absolute;
  display: block;
  margin: auto;
  width: 720px;
  height: auto;
}

.info-button {
  display: none;
}

.display_none {
  display: none;
}

.button-bar {
  position: fixed;
  bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 64px;
  right: 64px;
  z-index: 1000;
}

.play-buttons {
  background-color: rgba(0, 0, 0, 0.2);
  height: 128px;
  width: 128px;
  border-radius: 32px;
  border: solid 1px rgba(0, 0, 0, 0.4);
}

.info-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.play-buttons:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.rotate-display {
  display: none;
}

.gap_16 {
  display: flex;
  gap: 16px;
}

@media (max-height: 915px) and (max-width: 412px) {
  .rotate-display {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-height: 895px) and (max-width: 411px) {
  .rotate-display {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-height: 932px) and (max-width: 430px) {
  .rotate-display {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-height: 700px) and (max-width: 500px) {
  .rotate-display {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (max-width: 720px) {
  .canvas-wrapper {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .discription-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  canvas,
  .intro-img {
    max-width: 100vw;
    max-height: 100vh;
  }

  .button-bar {
    position: fixed;
    bottom: 32px;
    left: 16px;
    right: 16px;
    padding: 0;
  }

  .play-buttons {
    height: 96px;
    width: 96px;
  }

  .gap_16 {
    gap: 16px;
  }
}

@media only screen and (max-height: 970px) {
  .discription-wrapper {
    display: none;
  }

  .info-button {
    display: block;
    position: absolute;
    top: 5px;
    right: 58px;
    width: 48px;
    height: 48px;
    z-index: 1;
    cursor: pointer;
    border: none;
  }

  .info-box-mobil {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 24px;
  }
}

@media only screen and (max-height: 755px) {
  .button-bar {
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 16px;
    right: 16px;
  }

  .play-buttons {
    height: 96px;
    width: 96px;
  }
}

@media only screen and (max-height: 680px) {
  h1,
  .fullscreen-button {
    display: none;
  }

  .canvas-wrapper {
    top: 16px;
  }
}

@media only screen and (max-height: 560px) {
  body {
    justify-content: center;
  }

  .canvas-wrapper {
    top: 0;
  }

  .play-buttons {
    height: 64px;
    width: 64px;
    border-radius: 16px;
  }
}

@media only screen and (max-height: 480px) {
  .canvas-wrapper,
  canvas {
    height: 100vh;
  }
}
