@font-face {
  font-family: "FAMILY_NAME";
  src: url("fonts/Lobster-Regular.ttf") format("truetype");
}

body {
  font-family: "FAMILY_NAME" !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: white;
  background-image: url("img/5_background/desert-5112222_1280.png");
  background-size: 100vw 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

canvas {
  background-color: black;
  display: block;
}

.canvas-wrapper {
  position: relative;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discription-wrapper {
  max-width: 720px;
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
}

.start-button,
.fullscreen-button,
.mute-button {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  border: none;
}

.start-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  height: 128px;
  width: 128px;
}

.fullscreen-button {
  bottom: 0;
  right: 0;
  font-size: 24px;
  height: 48px;
  width: 48px;
}

.mute-button {
  top: 0;
  right: 0;
  font-size: 24px;
  height: 48px;
  width: 48px;
}

.fullscreen-button:hover,
.start-button:hover,
.mute-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.discription {
  font-size: 24px;
  width: auto;
}

.intro-img {
  display: block;
  width: auto;
  height: 480px;
  width: 100%;
  max-width: 720px;
  object-fit: cover;
}

.sound-img {
    width: 48px;
    height: 48px
}

.win_img {
  position: absolute;
  display: block;
  margin: auto;
  width: 720px;
  height: auto;
}

.info-button {
  display: none;
}

.display_none {
  display: none;
}

.button-bar {
  display: none;
}

.play-buttons {
  background-color: rgba(0, 0, 0, 0.2);
  height: 64px;
  width: 64px;
  border-radius: 32px;
  border: solid 1px rgba(0, 0, 0, 0.4);
}

.play-buttons:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.rotate-display {
    display: none;
}

@media (max-height: 700px) and (max-width: 500px) {
    .rotate-display {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (max-width: 720px) {
  .canvas-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .discription-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  canvas,
  .intro-img {
    width: 100%;
  }

  .button-bar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .fullscreen-button {
    display: none;
  }
}

@media only screen and (max-height: 830px) {
  .discription-wrapper {
    display: none;
  }

  .info-button {
    display: block;
    position: absolute;
    top: 0;
    right: 48px;
    width: 48px;
    height: 48px;
    z-index: 1;
    cursor: pointer;
    border: none;
  }

  .info-box-mobil {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
  }
  
  .button-bar {
    position: absolute;
    bottom: 0;
    width: 720px;
    max-width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-height: 560px) {
  h1,
  .fullscreen-button {
    display: none;
  }

}

@media only screen and (max-height: 480px) {
  .canvas-wrapper,
  canvas {
    height: 100vh;
  }
}
